// ! this file will mostly be used for animations and mobile 
//! response code: 

::selection {
    background: rgb(93, 126, 236); 
    // color:rgb(30, 58, 138); 
}

//! variables with sass css will go here: 
$sT: rgb(30, 63, 173); //special-Text used to accent certain parts of the page

//!

// ! custome components for tailwindcss will go here: 
.highlightText {
    background: $sT; 
}
.underlinedText {
    border-bottom: $sT .2em solid; 
}

//!


html{
    scroll-behavior: smooth; 
}
* {
    padding: 0; 
    margin: 0; 
    box-sizing: border-box; 
    text-shadow: 4px 4px rgb(30, 58, 138);  

}
@media all and (min-width: 850px) {
    #heroCont {
        flex-direction: column; 
        align-items: start;
    }
    #heroSocialsCont {
        padding-left: 1.1em;
    }
}

@media all and (max-width: 1150px) {
    #heroCont {
        width: 100%; 
        height: 30em; 
        align-items: start;
        margin-top: .01em !important;
        img {
            height: auto; 
            width: 80%; 
        }
        h1 {
            padding: .3em; 
            text-align: left; 
            text-align: left;
            p{
                text-align: left; 
            }
        }
        #ExperienceCont {
            div {
                a {
                    img {
                        height: auto; 
                        width: 90vw; 
                        }
                    }
                }
            }
        }
    }
    #heroText {
        margin: 0; 
        text-align: right ;
    }
    #heroImg {
        background-image: url(./images/siteimgs/code.png); 
        background-size: contain; 
        z-index: 1; 
        left: 35% !important; 
        background-repeat: no-repeat; 
        top:  25% !important; 
        height: 22em; 
        width: 22em;
        opacity: 80%; 

    }


@media all and (max-width: 750px) {
    #navBtn {
        display: none; 
    }
    #mobileMenu {
        display: block; 
        top: 5%; 
        right: 5%;
        transition: all .1s; 
        z-index: 10;
        #navBtn-mobile {
            transition-delay: .2s;
        }
        // &:hover {
            //     height: 40vh; 
        //     width: 100vw; 
        //     right: 0%;
        //     opacity: 80%; 
        //     #navBtn-mobile {
        //         display: block;
        //     }
        // }
        } 
        #heroCont {
            grid-template-columns: auto;
            width: 100%; 
            height: 30em; 
            align-items: center;
            margin-top: 10em !important;
            justify-content: center;
            img {
                height: auto; 
                width: 70%; 
                
            }
            h1 {
                padding: .3em; 
                text-align: left; 
                text-align: left;
                p{
                    text-align: left; 
                }
            }
        }
        #heroText {
            margin: 0; 
            text-align: right ;
        }
        #heroImg {
            background-image: url(./images/siteimgs/code.png); 
            background-size: contain; 
            z-index: 1; 
            left: 5% !important; 
            background-repeat: no-repeat; 
            top:  25% !important; 
            height: 22em; 
            width: 22em;
            opacity: 80%; 
        }
        #ExperienceCont {
            div {
                a {
                    img {
                        height: auto; 
                        width: 90vw; 
                    }
                }
            }
        }
        #aboutCont {
            width: 80%; 
        }
    }
   

#heroImg {
    background-image: url(./images/siteimgs/code.png); 
    background-size: contain; 
    z-index: 1; 
    left: 45%; 
    background-repeat: no-repeat; 
    top: 6%; 
}
#heroText {
    z-index: 3;
    text-shadow: 4px 4px rgb(30, 58, 138); 
    margin: 0;
    text-align: left;
    
}
#heroCodeImg {
    box-shadow: 40px 20px 1px 1px rgba(30, 59, 138, 0.404); 

}

#socialsImg {
    height: auto; 
    width: 2em !important; 
    transition: all .2s; 
    &:hover {
        transform: translateY(-5px); 
    }
}

#experience, 
#aboutText {
    text-shadow: 4px 4px rgb(30, 58, 138);  
}
#ExperienceCont {
    div {
        &:hover {
            #techStack {
                opacity: 1; 
            }
        }
    }
}
#techStack {
    transition: all .4s; 
    img {
        height: auto; 
        width: 5em; 
    }
}

#ExperienceCont {
    div {
        a {
            img {
                box-shadow: 40px 20px 1px 1px rgba(30, 59, 138, 0.404); 
                &:hover {
                    box-shadow: 60px 30px 1px 1px rgb(37, 85, 214); 
                }
            }
        }
    }
}
#weatherProj {
    box-shadow: 40px 20px 1px 1px rgba(30, 59, 138, 0.404); 
             &:hover {
                 box-shadow: 60px 30px 1px 1px rgb(37, 85, 214); 
             }
}

#aboutText {
    box-shadow: 40px 20px 1px 1px rgba(30, 59, 138, 0.404); 
        
}



#techCont {
    display: grid;
    grid-template-columns: repeat(3, auto);
    justify-content: center; 
    align-items: center; 
    img {
        transition: all .4s; 
        &:hover {
            transform: translateY(-10px)
        }
    }
    
}

// ! the following is styling for the form section of the portfolio page

form {
    * {
        text-shadow: none;
        color: white; 
    }
}

.contactCont {
    height: 40em; 
    width: 100%; 
    margin-top: 10em;
    display: flex; 
    justify-content: center;
    
    form {
        width: 80%; 
        margin-top: 4em;   
        display: grid; 
        grid-template-columns: repeat(1, auto); 

        input{
            border-radius: 6px; 
            color:rgb(30, 58, 138); 
            padding: 5px; 
            width: 100%; 
        }
        textarea {
            border-radius: 6px; 
            color: rgb(30, 58, 138); 
            padding: 5px; 
        }
    }
    button {
        padding: .5em; 
        text-align: center;
        background: white; 
        color: black; 
        width: 40%; 
        margin-top: .3em;
        font-weight: bold; 
        &:active {
            background:rgb(30, 58, 138); 
            color: white; 
        }
    }
}

@media all and (max-width: 650px) {
    #aboutCont {
        width: 80%; 
    }
}