::selection {
  background: #5d7eec;
}

.highlightText {
  background: #1e3fad;
}

.underlinedText {
  border-bottom: #1e3fad 0.2em solid;
}

#mobileMenu p {
  text-shadow: none !important;
}

#mobileMenu a {
  text-shadow: none !important;
}

#mobileMenu button {
  text-shadow: none !important;
}

html {
  scroll-behavior: smooth;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-shadow: 4px 4px #1e3a8a;
}

@media all and (min-width: 850px) {
  #heroCont {
    flex-direction: column;
    align-items: start;
  }
  #heroSocialsCont {
    padding-left: 1.1em;
  }
}

@media all and (max-width: 1150px) {
  #heroCont {
    width: 100%;
    height: 30em;
    align-items: start;
    margin-top: .01em !important;
  }
  #heroCont img {
    height: auto;
    width: 80%;
  }
  #heroCont h1 {
    padding: .3em;
    text-align: left;
    text-align: left;
  }
  #heroCont h1 p {
    text-align: left;
  }
  #heroCont #ExperienceCont div a img {
    height: auto;
    width: 90vw;
  }
}

#heroText {
  margin: 0;
  text-align: right;
}

#heroImg {
  background-image: url(./images/siteimgs/code.png);
  background-size: contain;
  z-index: 1;
  left: 35% !important;
  background-repeat: no-repeat;
  top: 25% !important;
  height: 22em;
  width: 22em;
  opacity: 80%;
}

@media all and (max-width: 4000px) {
  #mobileMenu {
    display: block;
    top: 5%;
    right: 5%;
    transition: all .1s;
    z-index: 10;
  }
  #mobileMenu #navBtn-mobile {
    transition-delay: .2s;
  }
}

@media all and (max-width: 750px) {
  #navBtn {
    display: none;
  }
  #mobileMenu {
    display: block;
    top: 5%;
    right: 5%;
    transition: all .1s;
    z-index: 10;
  }
  #mobileMenu #navBtn-mobile {
    transition-delay: .2s;
  }
  #heroCont {
    grid-template-columns: auto;
    width: 100%;
    height: 30em;
    align-items: center;
    margin-top: 10em !important;
    justify-content: center;
  }
  #heroCont img {
    height: auto;
    width: 70%;
  }
  #heroCont h1 {
    padding: .3em;
    text-align: left;
    text-align: left;
  }
  #heroCont h1 p {
    text-align: left;
  }
  #heroText {
    margin: 0;
    text-align: right;
  }
  #heroImg {
    background-image: url(./images/siteimgs/code.png);
    background-size: contain;
    z-index: 1;
    left: 5% !important;
    background-repeat: no-repeat;
    top: 25% !important;
    height: 22em;
    width: 22em;
    opacity: 80%;
  }
  #ExperienceCont div a img {
    height: auto;
    width: 90vw;
  }
  #aboutCont {
    width: 80%;
  }
}

#heroImg {
  background-image: url(./images/siteimgs/code.png);
  background-size: contain;
  z-index: 1;
  left: 45%;
  background-repeat: no-repeat;
  top: 6%;
}

#heroText {
  z-index: 3;
  text-shadow: 4px 4px #1e3a8a;
  margin: 0;
  text-align: left;
}

#heroCodeImg {
  box-shadow: 40px 20px 1px 1px rgba(30, 59, 138, 0.404);
}

#socialsImg {
  height: auto;
  width: 2em !important;
  transition: all .2s;
}

#socialsImg:hover {
  transform: translateY(-5px);
}

#experience,
#aboutText {
  text-shadow: 4px 4px #1e3a8a;
}

#ExperienceCont div:hover #techStack {
  opacity: 1;
}

#techStack {
  transition: all .4s;
}

#techStack img {
  height: auto;
  width: 5em;
}

#expCont {
  overflow: hidden;
  position: relative;
}

.projContSwd {
  display: none;
}

.projContInsta {
  display: none;
}

.projCont2Due {
  display: none;
}

.leftArrow,
.rightArrow {
  font-size: 5em;
  position: absolute;
  top: 17%;
  text-shadow: none;
  cursor: pointer;
}

@media all and (min-width: 1000px) {
  .leftArrow,
  .rightArrow {
    top: 33% !important;
  }
}

.leftArrow {
  left: 1%;
}

.rightArrow {
  right: 1%;
}

.techStack {
  display: flex;
  justify-content: center;
  margin-top: .5em;
}

.techStack img {
  height: auto;
  width: 5em;
}

.expNavBar {
  display: flex;
  justify-content: center;
  gap: 1em;
  margin-top: 1em;
  position: relative;
}

.expNavBar .expNavOne {
  background: blue;
}

.expNavBar div {
  height: .5em;
  width: 3em;
  background: white;
  border-radius: 15%;
}

.expNavBar div:hover {
  cursor: pointer;
}

.expNavBar .expNavLeft {
  background: blue;
}

#weatherProj {
  box-shadow: 40px 20px 1px 1px rgba(30, 59, 138, 0.404);
}

#weatherProj:hover {
  box-shadow: 60px 30px 1px 1px #2555d6;
}

#aboutText {
  box-shadow: 40px 20px 1px 1px rgba(30, 59, 138, 0.404);
}

#techCont {
  display: grid;
  grid-template-columns: repeat(3, auto);
  justify-content: center;
  align-items: center;
}

#techCont #jsImg {
  height: auto;
  width: 24vw;
}

#techCont img {
  height: auto;
  width: 25vw;
  transition: all .4s;
}

#techCont img:hover {
  transform: translateY(-10px);
}

form * {
  text-shadow: none;
  color: white;
}

.contactCont {
  height: 40em;
  width: 100%;
  margin-top: 10em;
  display: flex;
  justify-content: center;
}

.contactCont form {
  width: 80%;
  margin-top: 4em;
  display: grid;
  grid-template-columns: repeat(1, auto);
}

.contactCont form input {
  border-radius: 6px;
  color: #1e3a8a;
  padding: 5px;
  width: 100%;
}

.contactCont form textarea {
  border-radius: 6px;
  color: #1e3a8a;
  padding: 5px;
}

.contactCont button {
  padding: .5em;
  text-align: center;
  background: white;
  color: black;
  width: 40%;
  margin-top: .3em;
  font-weight: bold;
}

.contactCont button:active {
  background: #1e3a8a;
  color: white;
}

@media all and (max-width: 650px) {
  #aboutCont {
    width: 80%;
  }
}
